body{
  text-align: center;
  background-color:#5c5c8a;
  margin-top: 100px;
}

body{
  color: #ccff99;
}

body{
  color: #ccff99;
  font-size: 30px;
  margin-top: 210px;
}

#button1{
  color: #ccff99;
  text-decoration: none;
  background-color: #657483;
}

img{
 width: 150px;
 length: 90px;
 padding: 10px; 
}

#pic5 {
  length: 10px;
}
